

div.container{

}

div.game-space {
    height: 300px;
    width: 600px;
    background-color:  green;
}

.shoe {

}

.player-hand{
    float: left;

}

.dealer-hand{
    margin-left: 20px;
    padding-left: 20px;

}

