.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.container{

}

div.game-space {
    height: 300px;
    width: 600px;
    background-color:  green;
}

.deck{

}

.shoe {

}

.player-hand{
    float: left;

}

.playerCard{
    width: 30%;
}

.dealerCard{
    width:30%;
    display: inline-block;
}

.dealer-hand{
    float: right;

}

.scores{

}

