.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
    height: 100%;
}

body{
/*    height: 80%;
    width: 80%;*/
    left: 10%;
    background-color:  green;
    color: yellow;
    font-family:  "Savoye LET", "Lucida Bright", serif;
    font-size: 40pt;
    background-image: radial-gradient(ellipse , green, #111111);
}

.header{
    margin-left: 10px;
    padding: 10px 10px 0px 50px;
    font-size: 90pt;
}

div.game-space {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
/*    padding-top: 50px;
    padding-bottom: 50px;*/
}

.decks{
    position: relative;
    width: 80%;
    height: 275px;
    left: 10%;
}

.play {
    position: relative;
    width: 20%;
    top: 20%;
    margin-right:  auto;
    margin-left: auto;
    display: block;
    padding-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.play:hover{
    color: black;
    text-shadow: 0 0 3px yellow;
}

.player-hand p{
    position: relative;
    top: -15px;
    float: right;
    padding: 5px;
}

.player-card{
    width: 65px;
    float: right;
}

.dealer-hand p{
    position: relative;
    top: -10px;
    float: left;
    padding-right: 15px;
}

.dealer-card{
    width: 65px;
}

.btn{
    position: relative;
    width: 30%;
    left:50%;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    font-size: 20pt;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    color: black;
    text-shadow: 0 0 3px yellow;
}

.hit{
    position: relative;
}

.stand{
    position: relative;
    margin-left: 20px;
}

.user-message{
    position:absolute;
    top: 80%;
    width: 90%;
    left: 10%;
}

.scores {
    position: relative;
    width: 50%;
    margin-top: 0;
    float:left;
}

.scores *{
    width: 50%;
    font-size: 20pt;
    margin: 7px 25px 0px 25px;
    text-align: left;
}


.play-again{
    position: relative;
    width: 20%;
    margin-right:  auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
}

.play-again:hover{
    color: black;
    text-shadow: 0 0 3px yellow;
}

.wins{
    position: relative;
    margin-top:  0;
    float:right;
    width: 50%;
}

.wins *{
    width: 50%;
    font-size: 20pt;
    margin: 7px 25px 0px 25px;
    text-align: right;
}
